<div class="row">
 <div class = "col-md-5">
   <div class="sub-ti">
<h3>マイページ</h3>
   </div>
  </div>
</div>


<table class = "nomal-table">
  <tr>
    <th>登録情報</th>
    <td><%= link_to customers_edit_path do %><button type="button" class="btn btn-success">編集する</button><%end%></td>
  </tr>
</table>

<div class="row">
 <div class = "col-md-6">
<table class="tate_table">
    <tbody>
       <tr>
         <th>氏名</th>
         <td><%= current_customer.last_name%> <%=current_customer.first_name%></td>
       </tr>
       
       <tr>
         <th>カナ</th>
         <td><%= current_customer.last_name_kana%> <%=current_customer.first_name_kana%></td>
       </tr>
       
       <tr>
         <th>郵便番号</th>
         <td><%= current_customer.postal_code%></td>
       </tr>
       
       <tr>
         <th>住所</th>
         <td><%= current_customer.address%></td>
       </tr>
       
       <tr>
         <th>電話番号</th>
         <td><%= current_customer.telephone_number%></td>
       </tr>
       
       <tr>
         <th>メールアドレス</th>
         <td><%= current_customer.email%></td>
       </tr>
    </tbody>
</table>

  </div>
</div>

<table class = "nomal-table">
  <tr>
    <th>配送先</th>
    <td><%= link_to "/addresses" do %><button type="button" class="btn btn-primary">一覧を見る</button><%end%></td>
  </tr>

  <tr>
    <th>注文履歴</th>
    <td><%= link_to "/orders" do %><button type="button" class="btn btn-primary">一覧を見る</button><%end%></td>
  </tr>
</table>

