<div class="row">
 <div class = "col-md-5">
  <div class="sub-ti">
   <h2>商品一覧</h2>
  </div>
 </div>
  
 <div class = "col-md-1 offset-md-6">
  <%= link_to new_admin_item_path, method: :get do %>
  <%= image_tag 'shinki.png',:size => '70x60'%>
  <% end %>
 </div>
  
</div>




<table class="table">

  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
    <!--<th></th>-->
  </tr>

  <% @items.each do|item| %>
   <tr>
    <td><%=item.id%></td>
    <td><%= link_to "#{item.name}","/admin/items/#{item.id}"%></td>
    <td><%=item.price%></td>
    <td><%=item.genre.name%></td>
    <td>
     <%if item.is_active%>
     <div class="text-success">販売中</div>
    <%else%>
    <div class="text-secondary">販売停止中</div>
    <%end%></td>
    <!--<td>-->
     <!--%= link_to("/admin/items/#{item.id}",method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>-->
     <!--<button type="button">削除する</button>-->
     <!--%end%>-->
    <!--</td>-->
  <% end %>
  
  
  </table>
  
  
 <div class="row">
  <div class = "col-md-2 offset-md-5">
   <%= paginate @items %>
  </div>
 </div>