<div class="row">
 <div class = "col-md-5">
   <div class="sub-ti">
<h2>商品詳細</h2>
   </div>
  </div>
</div>

<br>
<br>
<br>

<div class="row">
 <div class = "col-md-7">
    <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
 </div>

 <div class = "col-md-5">
<table class="nomal-table">
  <tr>
    <th>商品名</th>
  　<td><%=@item.name%></td>
  </tr>
  
  <br>
  <tr>
    <th>商品説明</th>
  　<td><%=@item.introduction%></td>
  </tr>
  <tr>
    <th>ジャンル</th>
  　<td><%=@item.genre.name%></td>
  </tr>
  <tr>
    <th>税込価格<br>（税込価格）</th>
    <td><%=@sum.round%>(<%=@item.price.round%>)円</td>
  </tr>
  <tr>
    <th>販売ステータス</th>
    <td>
    <%if @item.is_active%>
      <div class="text-success">販売中</div>
    <%else%>
      <div class="text-secondary">販売停止中</div>
    <%end%>
    </td>
  </tr>
</table>
</div>

</div>

<br>

<div class="centers">
  <%= link_to("/admin/items/#{@item.id}/edit") do %><button type="button" class="btn btn-success">編集する</button>
  <%end%>
</div>