<h3>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない⽅も商品の閲覧はできますが、<br>
購⼊には会員登録が必要になります。</h3>

<h1>新着商品</h1>

  <% @item_sumples.each do |item|  %>

     <div>
       <%= link_to "/items/#{item.id}" do %>
        <%= attachment_image_tag item, :image, :fill, 300, 300, format: 'jpeg' %>
       <% end %>
     </div>
     <div>
       <p><%= item.name%></p>
       <p>¥<%=item.price%></p>
     </div>

  <% end %>

<%= link_to "全ての商品を⾒る>",items_path %>