<h2><%=@customer.last_name%><%=@customer.first_name%>さんの会員情報編集</h2>

<br>

<%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>

<table>
  <div class="field">
    
    <tr>
    <th>会員ID</th>
    <td><%= @customer.id%></td>
    </tr>

    <tr>
    <th><%= f.label :氏名%></th>
    <td><%= f.text_field :last_name,:placeholder => "令和", autofocus: true %><%= f.text_field :first_name, :placeholder => "道子"%></td>
    </tr>

    <tr>
    <th><%= f.label :フリガナ%></th>
    <td><%= f.text_field :last_name_kana, :placeholder => "レイワ"%><%= f.text_field :first_name_kana, :placeholder => "ミチコ"%></td>
    </tr>

    <tr>
    <th><%= f.label :メールアドレス %></th>
    <td><%= f.email_field :email, :placeholder => "sample@example.com", autocomplete: "email" %></td>
    </tr>

    <tr>
    <th><%= f.label :郵便番号 %></th>
    <td><%= f.text_field :postal_code, :placeholder => "000000"%></td>
    </tr>

    <tr>
    <th><%= f.label :住所 %></th>
    <td><%= f.text_field :address,:size=>"60", :placeholder => "東京都渋谷区代々木神園町0-0"%></td>
    </tr>

    <tr>
    <th><%= f.label :電話番号 %></th>
    <td><%= f.text_field :telephone_number, :placeholder => "00000000000"%></td>
    </tr>
    
    <tr>
    <th><%= f.label :会員ステータス %></th>
    <td><%= f.radio_button :is_deleted, "false" %>有効
    <%= f.radio_button :is_deleted, "true" %>退会</td>
    </tr>

  </div>

</table>

<br>

<div class="row">
 <div class = "col-md-3 offset-md-1">
  <div class = "inlines">
   <div class="actions">
    <%= f.submit('編集内容を保存',class: 'btn btn-success') %>
   </div>
  </div>
 </div>
</div>

<% end %>

