<div class="row">
 <div class = "col-md-5">

<div class = "inlines">
  <div class="sub-ti">
   <h2>ショッピンングカート</h2>
  </div>
</div>

</div>

<div class = "col-md-2 offset-md-5">

  <div class = "inlines">
    <%= link_to("/cart_items/delete",method: :delete, data: {confirm: "カートを空にして本当によろしいですか？"} ) do %>
    <button type="button" class="btn btn-danger">カートを空にする</button>
    <%end%>
  </div>

</div>
</div>


<table class="yoko_table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= attachment_image_tag cart_item.item, :image, :fill, 50, 50, format: 'jpeg' %> <%= cart_item.item.name%></td>
        <td><%= cart_item.item.price%></td>

        <td>
          <%= form_with model: cart_item, url: cart_item_path(cart_item)  do |f| %>

          <%= f.select(:amount,[[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]], { include_blank: '個数選択'})%>
          <%= f.submit('変更',class: 'btn btn-success') %>
          <%end%>
        </td>

        <td><%= cart_item.amount*cart_item.item.price%></td>
        <td><%= link_to("/cart_items/#{cart_item.id}",method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>
        <button type="button" class="btn btn-danger">削除する</button>
        <%end%>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>


<div class="row">
 <div class = "col-md-3">

<div class="flex">
 <div class = "inlines">
  <%= link_to root_path do %><button type="button" class="btn btn-primary">買い物を続ける</button><%end%>
 </div>

 </div>
</div>

<div class = "col-md-2 offset-md-7">

<div class = "inlines sum">
<table class = "tate_table inlines">
  <tr>
    <th>合計</th>
    <td><%= @sum %></td>
  </tr>
</table>
</div>
</div>

  </div>
</div>

<br>
<br>

<div class = "centers">
<%= link_to new_order_path do %><button type="button" class="btn btn-success">情報入力に進む</button><%end%>
</div>

