<div class="row">
 <div class = "col-md-6">
    <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
 </div>

 <div class = "col-md-6">

    <!--商品名（ジャンル）という形での表示-->
   <h4><%=@item.name%> (<%=@item.genre.name%>)</h4>
  
  <%=@item.introduction%><br>
    <div class = "inlines">
    <h4>￥<%=@item.price*1.1.round%></h4>
    </div>
    
    <div class = "inlines">
    <p>(税込)</p>
    </div>
    
       <%= form_with model: @cart_item, url: item_cart_items_path(@item),local: true do |f| %>
       <%= f.select(:amount,[[1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20]], { include_blank: '個数選択'})%>
       <%= f.submit('カートに入れる',class: 'btn btn-success') %>
       <%end%>


 </div>


</div>












