<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/c3313db431.js" crossorigin="anonymous"></script>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
   <% if admin_signed_in? %>
   <!--商品⼀覧 会員⼀覧 注⽂履歴⼀覧 ジャンル⼀覧 ログアウト-->
   
      <li>
        <%= link_to "商品一覧", admin_items_path, method: :get %>
      </li>
      
       <li>
        <%= link_to "ジャンル一覧", admin_genres_path, method: :get %>
      </li>

      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
      
    <% elsif customer_signed_in?  %>
      <!--マイページ、商品一覧、カート、ログアウト-->
       <li>
        <%= link_to "/", method: :get do %>
         ※ロゴ画像
        <% end %>
       </li>
       
       <li>
         <%= link_to "マイページ", customers_mypage_path, method: :get %>
       </li>
       
       <li>
         <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
       </li>
       
     <% else %>
      
       <li>
        <%= link_to "/", method: :get do %>
         ※ロゴ画像
        <% end %>
       </li>
       
       <li>
        <%= link_to "/about", method: :get do %>
         About
        <% end %>
       </li>
      
       <li>
       <%= link_to "/items", method: :get do %>
        商品一覧
       <% end %>
       </li>
      
       <li>
        <%= link_to "/customers/sign_up", method: :get do %>
        新規登録
        <% end %>
       </li>
      
       <li>
        <%= link_to "/customers/sign_in", method: :get do %>
        ログイン
        <% end %>
       </li>
    
    <% end %>
      
    <%= yield %>
  </body>
</html>
